<html>
  <head>
    <title>GDcheerios client</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <!--cookie debug: {{request.cookies.get('username')}}-->
    <!--data debug: {{userData|safe}}-->
    <div class="server-info">currently connected to: {{url}}</div>
    <br>
    {% if request.cookies.get('username') == None %}
      <div class="welcome">
        <h1>Hello!</h1>
        <h2>It seems that you're not logged in.</h2>
        <h2>Unfortunatly it is required that you are logged in to use this website.</h2>
        <a href="/login-page">Log in here!</a>
        <h2>If there's an alternate server you'll be using, you can change it <a href="change-server">here!</a></h2>
        <p>or</p>
        <h1><a target="_blank" href="{{url}}/account/create">Create an account</a> if you don't have one.</h1>
      </div>
    {% else %}
      <div class="welcome">
        <h1>Welcome {{userData["username"]}}</h1>
        <a href="/signout">signout</a>
      </div>
      <div class="osu">
        <h1>osu!</h1>
        <ul>
          <li><a href="/start_osu_refresher">start live status client</a></li>
        </ul>
      </div>
      <div class="games">
        <h1>games</h1>
        <ul>
          {% if has_game("Gentry's Quest") == False %}
            <li class="not-installed"><a href="/install/Gentry's Quest">Gentry's Quest</a> click to install</li>
            <br>
          {% else %}
            <li class="not-installed"><a href="/play/Gentry's Quest+{{request.cookies.get('username')}}+{{request.cookies.get('password')}}">Gentry's Quest</a> click to play</li>
              <ul>
                <li><a href="uninstall/Gentry's Quest">uninstall</a></li>
                <li><a href="verify/Gentry's Quest">verify</a></li>
              </ul>
            <br>
          {% endif %}
            <li class="not-installed"><a href="https://github.com/GDcheeriosYT/The-Backrooms" target="_blank">The Backrooms [WIP]</a> click to view info</li>
        </ul>
      </div>
    {% endif %}
  </body>
</html>